__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

.DS_Store
.idea/
.vscode/

.venv/
venv/
coach/bin/
coach/include/
coach/lib/
coach/lib64/
coach/pyvenv.cfg

coach/players.db
coach/static/exports/

coach.zip

build/
dist/
*.egg-info/
python_pandas/playground/
